<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}
<body>
<center>
	<h1>ファイルアップロードテスト</h1>
	<form method="POST" enctype="multipart/form-data" action="/upload">
	 	<input type="file" name="file[]" multiple="">
	 	<input type="submit" value="add">
	</form>

	<h1>カルーセル</h1>
	<form action="{{ url_for('change_carousel') }}" method="POST">
	<table border="3">
		<tr>
			<td>番号</td>
			<td>h1_str</td>
			<td>link</td>
			<!--td>削除</td-->
		</tr>
		{% for c in carousel %}
			<tr>
				<td>{{ loop.index }} 番</td>
				<td><input type='text' name='h1_str_{{ loop.index }}' value='{{c.h1_str}}'></td>
				<td>
					<select name="link_{{ loop.index }}">
						{% for f in files %}
						{% if c.link == f %}
						<option selected value="{{ f }}">{{f}}</option>
						{% else %}
						<option value="{{ f }}">{{f}}</option>
						{% endif %}
						{% endfor %}
					</select>
				</td>
				<!--input type="hidden" name="id" value="{{c.id}}"-->
				<!--td><input type="submit" value="削除"></td-->
			</tr>
		{% endfor %}
	</table>
	<input type='submit' value='更新'>
</form>


	<h1>日替わりメニュー({{ time }})</h1>
	<form action="{{ url_for('change_higawari') }}" method="POST">
	日付変更: <input type="text" name="day"/>
	<table border="3">
		<tr>
			<td>カラム名</td>
			<td>メニュー名</td>
			<td>投票数</td>
			<td>商品名変更</td>
		</tr>
		{% for n,m,v in higawari %}
			<tr>
				<td>{{ n }}</td>
				<td>{{ m }}</td>
				<td>{{ v }}</td>
				<td>
					変更: <input type="text" name="{{ n }}"/>
				</td>
			</tr>
		{% endfor %}
	</table>
		<input type="submit" value="変更を適用する"/>
	</form>

	<h1>おしらせ</h1>

	<form action="{{ url_for('add_osirase') }}" method="POST">
		<p>News<input type="text" name="osi_title"/></p>
		<p>PDF
			<select name="osi_link">
				<option selected value="">無し</option>
				{% for f in ufiles %}
				<option value="{{ f }}">{{f}}</option>
				{% endfor %}
			</select>
		</p>
		<p><input type="submit" value="投稿"/></p>
	</form>
	<table border="3">
		<tr>
			<td>id</td>
			<td>News</td>
			<td>日付</td>
			<td>link</td>
			<td>操作</td>
		</tr>
		{%for i in osirase%}
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.title}}</td>
				<td>{{i.time}}</td>
				<td>{{i.link}}</td>
				<td>
					<form action="{{ url_for('del_osirase') }}" method="POST">
						<input type="hidden" name="del" value={{i.id}}>
						<input type="submit" value="削除">
					</form>
				</td>
			</tr>
		{%endfor%}
	</table>

</center>
</body>

{% endblock %}
