<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}
<body>
<center>
	<h1>ファイルアップロードテスト</h1>
	<form method="POST" enctype="multipart/form-data" action="/upload">
	 	<input type="file" name="file[]" multiple="">
	 	<input type="submit" value="add">
	</form>

	<h1>カルーセル</h1>
	<form action="{{ url_for('change_carousel') }}" method="POST">
	<table border="3">
		<tr>
			<td>番号</td>
			<td>h1_str</td>
			<td>link</td>
			<!--td>削除</td-->
		</tr>
		{% for c in carousel %}
			<tr>
				<td>{{ loop.index }} 番</td>
				<td><input type='text' name='h1_str_{{ loop.index }}' value='{{c.h1_str}}'></td>
				<td>
					<select name="link_{{ loop.index }}">
						{% for f in files %}
						{% if c.link == f %}
						<option selected value="{{ f }}">{{f}}</option>
						{% else %}
						<option value="{{ f }}">{{f}}</option>
						{% endif %}
						{% endfor %}
					</select>
				</td>
				<!--input type="hidden" name="id" value="{{c.id}}"-->
				<!--td><input type="submit" value="削除"></td-->
			</tr>
		{% endfor %}
	</table>
	<input type='submit' value='更新'>
</form>

	<h1>日替わりメニュー</h1>
	<form action="/admin" method="POST">
		日付を選択:
		<select name="date">
			{% for d in dates %}
				{% if d == today %}
				<option value="{{d}}" selected >{{d}}</option>
				{% else %}
				<option value="{{d}}">{{d}}</option>
				{% endif %}
			{% endfor %}
		</select>
		<input type="submit" value="取得する"/>
	</form>

	<form action="{{ url_for('change_higawari') }}" method="POST">
		<table border="3">
			<input type="hidden" name="today" value="{{today}}">
			<tr>
				<td>識別子</td>
				<td>メニュー名</td>
				<td>値段</td>
				<td>投票数</td>
				<td>削除</td>
			</tr>
			{% for val in range(0,10) %}
				<tr>
					<td>
						{% if val < menu|length %}
						<select name="s_{{val}}">
							{% for i in i_list %}
								{% if i == menu[val].identify %}
									<option value="{{i}}" selected>{{i}}</option>
								{% else %}
									<option value="{{i}}">{{i}}</option>
								{% endif %}
							{% endfor %}
						</select>
						{% else %}
						<select name="s_{{val}}">
							{% for i in i_list %}
								<option value="{{i}}">{{i}}</option>
							{% endfor %}
						</select>
						{% endif %}
					</td>
					{% if val < menu|length%}
					<td><input type='text' name='m_{{val}}' value='{{menu[val].name}}' ></td>
					<td><input type='text' name='p_{{val}}' value='{{menu[val].price}}'></td>
					<td><input type='text' name='v_{{val}}' value='{{menu[val].vote}}' ></td>
					<td><input type="checkbox" name="ch" value="{{menu[val].identify}}"></td>
					{% else %}
					<td><input type='text' name='m_{{val}}' ></td>
					<td><input type='text' name='p_{{val}}' ></td>
					<td><input type='text' name='v_{{val}}' ></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
		<input type="submit" value="変更を適用する"/>
	</form>

	<h1>おしらせ</h1>

	<form action="{{ url_for('add_osirase') }}" method="POST">
		<p>News<input type="text" name="osi_title"/></p>
		<p>PDF
			<select name="osi_link">
				<option selected value="">無し</option>
				{% for f in ufiles %}
				<option value="{{ f }}">{{f}}</option>
				{% endfor %}
			</select>
		</p>
		<p><input type="submit" value="投稿"/></p>
	</form>
	<table border="3">
		<tr>
			<td>id</td>
			<td>News</td>
			<td>日付</td>
			<td>link</td>
			<td>操作</td>
		</tr>
		{%for i in osirase%}
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.title}}</td>
				<td>{{i.time}}</td>
				<td>{{i.link}}</td>
				<td>
					<form action="{{ url_for('del_osirase') }}" method="POST">
						<input type="hidden" name="del" value={{i.id}}>
						<input type="submit" value="削除">
					</form>
				</td>
			</tr>
		{%endfor%}
	</table>
	
</center>
</body>

{% endblock %}
