<!DOCTYPE html>
{% extends "layout.html" %}

{% block body %}
<body>
<center>
	<h1>カルーセル</h1>
	<form action="{{ url_for('change_carousel') }}" method="POST">
	<table border="3">
		<tr>
			<td>番号</td>
			<td>h1_str</td>
			<td>link</td>
			<!--td>削除</td-->
		</tr>
		{% for c in carousel %}
			<tr>
				<td>{{ loop.index }} 番</td>
				<td>{{ c.h1_str }}</td>
				<td>
					<select name="link_{{ loop.index }}">
						{% for f in files %}
						{% if c.link == f %}
						<option selected value="{{ f }}">{{f}}</option>
						{% else %}
						<option value="{{ f }}">{{f}}</option>
						{% endif %}
						{% endfor %}
					</select>
				</td>
				<!--input type="hidden" name="id" value="{{c.id}}"-->
				<!--td><input type="submit" value="削除"></td-->
			</tr>
		{% endfor %}
	</table>
	<input type='submit' value='更新'>
</form>


	<h1>日替わりメニュー({{ time }})</h1>
	<form action="{{ url_for('change_higawari') }}" method="POST">
	日付変更: <input type="text" name="day"/>
	<table border="3">
		<tr>
			<td>カラム名</td>
			<td>メニュー名</td>
			<td>投票数</td>
			<td>商品名変更</td>
		</tr>
		{% for n,m,v in higawari %}
			<tr>
				<td>{{ n }}</td>
				<td>{{ m }}</td>
				<td>{{ v }}</td>
				<td>
					変更: <input type="text" name="{{ n }}"/>
				</td>
			</tr>
		{% endfor %}
	</table>
		<input type="submit" value="変更を適用する"/>
	</form>
</center>
</body>

{% endblock %}
